<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dropbox - Files</title>
        <link rel="stylesheet" type="text/css" href="/css/materialize.min.css"/>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
    </head>
    <body class="light-blue darken-1">
        <div class="container">
            <div class="card white z-depth-3">
                <div class="card-content black-text">
                    <span class="card-title">Your Dropbox Files & Folders</span>
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                            function formatBytes(bytes) {
                                if(bytes < 1024) return bytes + " Bytes";
                                else if(bytes < 1048576) return(bytes / 1024).toFixed(3) + " KB";
                                else if(bytes < 1073741824) return(bytes / 1048576).toFixed(3) + " MB";
                                else return(bytes / 1073741824).toFixed(3) + " GB";
                            }; 
                            %>
                            <% if (listFilesFolders != null) { %>
                            <% for (var i = 0; i < listFilesFolders.length; i++){ %>
                            <tr>
                                <td><%= listFilesFolders[i].name %></td>
                                <td><%= listFilesFolders[i]['.tag'] %></td>
                                <% if (listFilesFolders[i].size != undefined) { %>
                                <td><%= formatBytes(listFilesFolders[i].size) %></td>
                                <% } else { %>
                                <td></td>
                                <% } %>
                            </tr>
                            <% }} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>