<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dropbox Test</title>
        <link rel="stylesheet" type="text/css" href="/css/materialize.min.css"  />
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>
    <body class="light-blue darken-1">
        <div class="valign-wrapper">
            <div class="row center">
                <div class="col s12 m12">
                  <div class="card white z-depth-3">
                    <div class="card-content black-text">
                        <span class="card-title">Dropbox Authentication</span>
                        <p>To use this application you need to connect with a Dropbox account.</p>
                        <br>
                        <form action="auth" method="post">
                        <button class="btn waves-effect waves-light light-green darken-1" type="submit" name="action">Connect</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>